/***** Menu Componente Relato *****/
#customPanelButton {
    position: fixed;
    height:auto;
    width: auto;
    overflow: hidden;
    padding: 20px;
    display: none;
    top: 0px;
    left: 0px;
}
#modal_menu_circular {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #2D4E60; 
	opacity: 0.7;
    filter:alpha(opacity=70);
	display: none;
}

#menu_circular {
    position: fixed;
    height:430px;
    width: 500px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left:-230px;
    margin-top: -215px;
    display: none;
    z-index:99999;
}

.menu_relato_circular {
	width: 500px;
	margin: 0px auto;
	background: transparent;
	padding: 40px 0 0 0;
}
.inf {
	position: absolute;
	background: url(../images/fundo_ajuda.png) no-repeat;
	width: 140px;
	height: 140px;
	margin: -40px 0 0 360px;
}
#rotatescroll {
	position: absolute;
	/* margin: 0px auto; */
	width: 460px;
	height: 380px;
}
#rotatescroll .viewport {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	width: 380px;
	height: 380px;
	background: url(../images/fundo_botoes.png) top center no-repeat;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
#rotatescroll .overview {
	position: absolute;
	/*width: 798px;*/
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
}
#rotatescroll .overview li {
	width: 380px;
	height: 380px;
	float: left;
	position: relative;
}
#rotatescroll .overlay {
	/* background: url(images/bg-rotatescroll.png) no-repeat 0 0;*/
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 380px;
	height: 380px;
}
#rotatescroll .thumb {
	background: url(../images/bg-thumb.png) no-repeat 50% 50%;
	position: absolute;
	top: -3px;
	cursor: pointer;
	left: 137px;
	width: 100px;
	z-index: 200;
	height: 100px;
}
#rotatescroll .dot {
	background: url(../images/bg-dot.png) no-repeat 0 0;
	display: none;
	height: 14px;
	width: 12px;
	position: absolute;
	left: 155px;
	top: 4px;
	z-index: 100;
}
#rotatescroll .dot span {
	display: none;
}


.menu_componente_relato {
	margin-top: 40px;
}
.menu_componente_relato .nome_menu_relato {
	font-family: 'resosemibold';
	font-size: 22px;
	margin: 15px 0 0 0;
}
.menu_componente_relato p {
	font-family: 'resosemibold';
	font-size: 18px;
	color: #858585;
	text-align: center;
	line-height: 20px;
	padding: 0 30px;
	margin: 7px 0 15px 0;
}
.menu_componente_relato .button {
	width: 95px;
	margin: 0px auto;
	float: none;
	padding: 10px 0;
}
.menu_componente_relato .icon_menu_relato {
	width: 90px;
	height: auto;
}


