* {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
ul {
	padding-left: 0px;
	margin-left: 0px;
}
ul li {
	list-style: none;
}
tr, td {
	padding: 0;
	margin: 0;
}
.button {
	width: 100%;
	height: auto;
	cursor: pointer;
	font-size: 15px;
	padding: 10px 0;
	color: #FFF;
	background: #9FCB8A;
	border: none;
	text-transform: uppercase;
	display: block;
	line-height: normal;
	text-align: center;
}








